.action-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    position: sticky;
    bottom: 0;
    background-color: white;
    border-top: 1px solid #bfbfbf;
    font-size: 15px;
    }

    .action-bar__counter {
        margin-left: 10px;
    }

    .action-bar__filter-buttons {
        display: flex;
        }
        
        .filter-buttons_item {
            padding: 8px 0;
            overflow: hidden;
            }
            
            .filter-buttons_item + .filter-buttons_item {
                margin-left: 6px;
                }

        .filter-buttons_input {
            width: 30px;
            height: 0;
            margin-left: -30px;
            }
        
        .filter-buttons_text {
            padding: 2px 6px;
            border: 1px transparent solid;
            border-radius: 5px;
            }

            .filter-buttons_input:checked + .filter-buttons_text {
                border-color: #EBDFDF;
                }
        
            .filter-buttons_input:focus + .filter-buttons_text {
                border-color: rgb(139, 137, 137);
                }
    
    .action-bar__clear-button {
        margin-right: 8px;
        }
        
        .task-clear-completed {
            font-size: 15px;
        }

