@require "vars.styl"

.main-controls
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: center
  align-items: flex-start
  align-content: stretch
  box-sizing: border-box
  height: 50px
  border-bottom: 1px #E6E6E6 solid
  padding: 0px

  &__select-all
    flex-shrink: 0
    height: 50px


  &__select-button
    height: 50px
    width: 45px
    text-indent: -9999px
    background-image: url("./images/arrow.svg")
    background-repeat: no-repeat
    background-size: 20px 12px
    background-position: center

  &__create-new
    flex-grow: 1

    &-input
      width: 100%
      height: 50px
      padding-top: 4px
      box-sizing: border-box
      font-size: 20px