@import "reset.css";
.todo-app__header {
  text-align: center;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 100px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 80%;
  max-width: 600px;
  min-width: 560px;
  margin: 0 auto 20px;
}
body:before {
  left: 2px;
  right: 2px;
  height: 5px;
  z-index: -1;
}
body:after {
  left: 4px;
  right: 4px;
  height: 10px;
  z-index: -2;
}
body:before,
body:after {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  content: "";
  position: absolute;
  top: 100%;
}
.todo-app-wrapper {
  background-color: #fff;
  width: 600px;
  box-shadow: 0 0 8px -1px #99989d;
}
.todo-app__tasks {
  min-height: 296px;
}
.todo-app__tasks:empty {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo-app__tasks:empty::before {
  content: "";
  font-size: 100px;
}
.task-list__element {
  box-sizing: border-box;
  border-bottom: 1px #e6e6e6 solid;
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-height: 59px;
  overflow: hidden;
}
.task-list__element:hover {
  background-color: #fafafa;
}
.task-element__delete {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  margin: -99999px 4px 0 12px;
  text-indent: -99999px;
  background-image: url("./images/delete.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
.task-element__delete:focus,
.task-list__element:hover .task-element__delete {
  margin-top: 0;
}
.task-element__text {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  padding: 12px 0;
  word-break: break-word;
  font-size: 24px;
}
.task-element__status-icon {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  margin: 0 12px 0 15px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  background-color: #fff;
}
.task-element__status {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -9999px;
}
.task-element__status:checked + .task-element__status-icon {
  background-image: url("./images/completed.svg");
  background-position: 6px 8px;
  background-repeat: no-repeat;
  background-size: auto;
  border-color: #5dc2af;
}
.task-element__status:checked ~ .task-element__text {
  text-decoration: line-through;
}
.task-element__status:focus ~ .task-element__status-icon {
  border-color: #5dc2af;
}
.task-element__status:hover .checkbox:not(:checked) + .task-element__status-icon {
  border-color: #ccc;
}
.task-editor {
  padding-left: 56px;
}
.task-editor__input {
  height: 59px;
  width: 100%;
  box-sizing: border-box;
  font-size: 24px;
}
.main-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  box-sizing: border-box;
  height: 50px;
  border-bottom: 1px #e6e6e6 solid;
  padding: 0px;
}
.main-controls__select-all {
  flex-shrink: 0;
  height: 50px;
}
.main-controls__select-button {
  height: 50px;
  width: 45px;
  text-indent: -9999px;
  background-image: url("./images/arrow.svg");
  background-repeat: no-repeat;
  background-size: 20px 12px;
  background-position: center;
}
.main-controls__create-new {
  flex-grow: 1;
}
.main-controls__create-new-input {
  width: 100%;
  height: 50px;
  padding-top: 4px;
  box-sizing: border-box;
  font-size: 20px;
}
.action-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  position: sticky;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #bfbfbf;
  font-size: 15px;
}
.action-bar__counter {
  margin-left: 10px;
}
.action-bar__filter-buttons {
  display: flex;
}
.action-bar__clear-button {
  margin-right: 8px;
}
.task-clear-completed {
  font-size: 15px;
}
.filter-buttons_item {
  padding: 8px 0;
  overflow: hidden;
}
.filter-buttons_item + .filter-buttons_item {
  margin-left: 6px;
}
.filter-buttons_input {
  width: 30px;
  height: 0;
  margin-left: -30px;
}
.filter-buttons_input:checked + .filter-buttons_text {
  border-color: #ebdfdf;
}
.filter-buttons_input:focus + .filter-buttons_text {
  border-color: #8b8989;
}
.filter-buttons_text {
  padding: 2px 6px;
  border: 1px transparent solid;
  border-radius: 5px;
}
